<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block header %}

    {% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style>
        .navbar {
            box-shadow: 0px 0px 5px black;
        }
    </style>
</head>

<body>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <h1>Tacabro</h1>
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <!-- <a class="navbar-item">Home</a>
                <a class="navbar-item">Documentation</a> -->
            </div>

            <div class="navbar-end">
                {% if username %}
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        {{ username }}，安安
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            個人檔案
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="/logout">
                            登出
                        </a>
                    </div>
                </div>
                {% else %}
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href="/register">
                            <strong>註冊</strong>
                        </a>
                        <a class="button is-light" href="/login">登入</a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </nav>
    {% block content %}

    {% endblock %}
</body>

</html>