{% extends 'base.html' %}

{% block header %}
<title>{{ board.name }} | Tacabro</title>
<style>
    .container.context {
        margin-top: 3em !important;
        margin-bottom: 3em !important;
    }

    .ad-item {
        width: 100vh;
    }

    .is-pinned {
        display: block;
        position: sticky;
        top: 4.75rem;
    }
</style>
{% endblock header %}

{% block content %}
<div class="container context">
    <div class="columns">
        <div class="column is-one-fifth">
            <span class="menu-ref"></span>
            <div id="menu">
                {% include "board_list.html" %}
                {% if ad_list.left %}
                <a href="{{ ad_list.left.URL }}">
                    <img src="{{ ad_list.left.ad }}" class="ad-item" id="left-ad">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="column">
            <div class="content">
                <nav class="level">
                    <!-- Left side -->
                    <div class="level-left">
                        <div class="level-item">
                            <p class="title">{{ board.name }}</p>
                        </div>
                    </div>

                    <!-- Right side -->
                    {% if request.user and board.id %}
                    <div class="level-right">
                        <div class="level-item">
                            <button class="button is-success" id="launch-post-modal">
                                <span class="icon is-small">
                                    <i class="fas fa-pen" aria-hidden="true"></i>
                                </span>
                                <span>發布文章</span>
                            </button>
                        </div>
                    </div>
                    {% endif %}
                </nav>
                {% if not posts %}
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-96x96">
                                <img src="https://i.pinimg.com/originals/15/a8/21/15a821ea79990bb7edd4eb058a510862.png"
                                    alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p><br>
                                    {% if board.id %}
                                    這個板塊還沒有任何貼文唷！
                                    {% else %}
                                    你的動態時報上還沒有任何貼文唷！可以尋找仰慕的朋友，即時知道他們的消息～
                                    <a href="/card">以牌會友</a>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
                {% endif %}
                {% for post in posts %}
                <div class="box" id="post-{{post.id}}">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-64x64 avatar" style="background-image: url('{{post.author_data.picture}}')"></figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p style="word-wrap: break-word;word-break: break-all;">
                                    <strong><a href="/user/{{ post.author_data.username }}">{{
                                            post.author_data.first_name }}</a></strong>
                                    <small>@{{ post.author_data.username }}</small> <small>{{ post.publish_date }}</small>
                                    <br>
                                    {{ (post.content | no_markdown)[:128] }}
                                    {% if (post.content | no_markdown)|length > 128 %} ... {% endif %}
                                </p>
                            </div>
                            <a class="button is-small is-fullwidth" href="/post/{{ post.id }}">閱讀全文</a>
                        </div>
                        {% if request.user.is_admin %}
                        <div class="media-right">
                            <a class="button is-small is-danger delete-post" data-post-id="{{ post.id }}"><span>刪除</span></a>
                        </div>
                        {% endif %}
                    </article>
                </div>
                {% endfor %}
            </div>
            {% if ad_list.bottom %}
            <a href="{{ ad_list.bottom.URL }}">
                <img src="{{ ad_list.bottom.ad }}" class="ad-item" id="bottom-ad">
            </a>
            {% endif %}
        </div>

        {% if ad_list.right %}
        <div class="column is-one-fifth ad-item">
            <a href="{{ ad_list.right.URL }}">
                <img src="{{ ad_list.right.ad }}" id="right-ad">
            </a>
        </div>
        {% endif %}
    </div>
</div>

{% include "footer.html" %}


{% if request.user %}
<div class="modal" id="post-modal">
    <div class="modal-background" id="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <span class="subtitle">發文</span>
            <hr>
            <article class="message is-danger" id="alert-post" style="display: none">
                <div class="message-body">
                    你沒打內容啊幹低能兒
                </div>
            </article>
            <div class="field">
                <div class="control">
                    <textarea class="textarea" placeholder="打上你ㄉ廢文或 payload ㄅ >_^" id="article-content"></textarea>
                </div>
                <p class="help"><b>**粗體**</b><i>__斜體__</i><s>~~刪除線~~</s><code>`程式碼`</code></p>
            </div>
            <button class="button is-primary is-outlined is-fullwidth" id="post-article">喵！</button>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close" id="close-modal"></button>
</div>
{% endif %}



<div class="modal" id="board-modal">
    <div class="modal-background" id="board-modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <span class="subtitle">新增看板</span>
            <hr>
            <article class="message is-danger" id="alert" style="display: none">
                <div class="message-body">
                    你沒打內容啊幹低能兒
                </div>
            </article>
            <div class="field">
                <div class="control">
                    <input class="input" type="text" placeholder="看板名稱ㄛ" id="board-name">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <textarea class="textarea" placeholder="打上你ㄉ廢文或 payload ㄅ >_^" id="board-content"></textarea>
                </div>
            </div>
            <button class="button is-primary is-outlined is-fullwidth" id="board-article">喵！</button>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close" id="board-close-modal"></button>
</div>

<script>
    window.addEventListener('scroll', function () {
        window.requestAnimationFrame(function () {
            const menu_ref = document.querySelector(".menu-ref");
            const menu = document.querySelector("#menu");
            if (menu_ref.scrollTop < 120)
                menu.classList.add('is-pinned') && console.log(menu_ref.scrollTop)
            else
                menu.classList.remove('is-pinned');
        });
    });

    {% if request.user and board.id %}
    const boardId = {{ board.id }};
    document.getElementById("launch-post-modal").onclick
        = document.getElementById("close-modal").onclick
        = document.getElementById("modal-background").onclick
        = () => document.getElementById("post-modal").classList.toggle("is-active")

    document.getElementById("post-article").onclick = (e) => {
        var article = document.getElementById("article-content").value;
        if (article.trim() == "") {
            document.getElementById("alert-post").style.display = "block";
            return;
        }
        e.target.className = "button is-primary is-fullwidth is-loading";
        fetch("/api/post_article", {
            method: "POST",
            body: JSON.stringify({ content: article, board: boardId })
        })
            .then(r => r.json())
            .then(result => {
                if (result.success)
                    window.location = `/post/${result.post}`;
                else {
                    e.target.className = "button is-danger is-fullwidth";
                    e.target.innerText = "怪怪ㄉ"
                }
                document.getElementById("article-content").value = "";
            })
    }
    {% endif %}

    {% if request.user.is_admin %}
    document.querySelectorAll(".delete-post").forEach(elem => {
        elem.onclick = (e) => {
            fetch("/api/post_delete", {
                method: "POST",
                body: JSON.stringify({ postId: elem.dataset.postId })
            })
                .then(r => r.json())
                .then(result => {
                    if (result.success)
                        document.getElementById("post-" + elem.dataset.postId).remove();
                    else
                        alert("刪除貼文失敗QQ");
                })
        }
    })
    {% endif %}

</script>

{% endblock content %}