<div class="menu-ref"></div>
<aside class="menu">
    <p class="menu-label">
        綜合
    </p>
    <ul class="menu-list">
        <li><a>動態首頁</a></li>
        <li><a>家族動態</a></li>
    </ul>
    <p class="menu-label">
        全部看板
    </p>
    <ul class="menu-list">
        {% for board in board_list %}
        <li><a href="/board/{{ board['id'] }}">{{ board['name'] }}</a></li>
        {% endfor %}
    </ul>
</aside>

<style>
    .is-pinned {
        display: block;
        position: sticky;
        top: 12px;
    }
</style>

<script>
    window.addEventListener('scroll', function () {
        window.requestAnimationFrame(function () {
            const menu_ref = document.querySelector(".menu-ref");
            const menu = document.querySelector("aside");
            if (menu_ref.scrollTop < 12)
                menu.classList.add('is-pinned');
            else
                menu.classList.remove('is-pinned');
        });
    });
</script>