{% extends 'base.html' %}

{% block header %}
<title>{{ author['first_name'] }} - {{ post['content'][:20] }} | Tacabro</title>
<style>
    .container.context {
        margin-top: 3em !important;
        margin-bottom: 3em !important;
    }
</style>
{% endblock header %}

{% block content %}
<div class="container context">
    <div class="columns">
        <div class="column is-one-fifth">
            {% include "board_list.html" %}
        </div>
        <div class="column">
            <div class="content">
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-64x64">
                                <img src="{{ author['picture'] }}" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong><a href="/user/{{ author['username'] }}">{{ author['first_name'] }}</a></strong> <small>@{{ author['username'] }}</small> <small>{{ post['publish_date'] }}</small>
                                </p>
                                <p style="word-wrap: break-word;word-break: break-all;">
                                {{ post['content'] }}</p>
                            </div>
                            <br>
                            <!-- icons -->
                            <div class="buttons has-addons columns">
                                <a id="bt_like" class="button is-fullwidth is-primary is-outlined column">
                                    <span class="icon is-small">
                                        <i class="fas fa-thumbs-up"></i>
                                    </span>
                                    <span id="like-count">{{ post['like_count'] }}</span>
                                </a>
                                <a id="bt_dislike" class="button is-fullwidth is-danger is-outlined column">
                                    <span class="icon is-small">
                                        <i class="fas fa-thumbs-down"></i>
                                    </span>
                                    <span id="dislike-count">{{ post['dislike_count'] }}</span>
                                </a>
                                <a class="button is-fullwidth is-info is-outlined column" href="#comment-block">
                                    <span class="icon is-small">
                                        <i class="far fa-comment"></i>
                                    </span>
                                    <span id="comment-count">{{ post['comment_count'] }}</span>
                                </a>
                            </div>
                            <!-- /icons -->
                        </div>
                    </article>
                </div>
                <!-- /box -->

                <h1 class="subtitle is-4">留言</h1>
                <div class="box">
                    <div id="comments">
                        {% for comment in comments %}
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-64x64">
                                    <img src="{{ comment['author_data']['picture'] }}" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>
                                            <a href="/user/{{ comment['author_data']['username'] }}">
                                            {{ comment['author_data']['first_name'] }}
                                            </a>
                                        </strong> <small>@{{ comment['author_data']['username'] }}</small> <small>{{ comment['publish_date'] }}</small>
                                        <br>
                                    </p>
                                    <p>{{ comment['content'] }}</p>
                                </div>
                            </div>
                        </article>
                        {% endfor %}
                    </div>

                    <hr>
                    {% if request.user %}
                    <article class="media" id="comment-block">
                        <figure class="media-left">
                            <p class="image is-64x64">
                                <img src="{{request.user.picture}}">
                            </p>
                        </figure>
                        <div class="media-content">
                            <div class="field">
                                <p class="control">
                                    <textarea class="textarea" placeholder="Add a comment..." id="comment-content"></textarea>
                                </p>
                            </div>
                            <div class="field">
                                <p class="control">
                                    <button class="button" id="post-comment">留言</button>
                                </p>
                            </div>
                        </div>
                    </article>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}

{% if request.user %}
<script>
    document.getElementById("post-comment").onclick = () => {
        fetch('/api/comment/{{post.id}}',{
            'method':'POST',
            body: JSON.stringify({
                'content': document.getElementById("comment-content").value
            })
        });
        var commentContent = document.getElementById("comment-content");
        var commentMedia = document.createElement("article");
        commentMedia.className = "media";
        commentMedia.innerHTML = `<div class="media-left">
                                <figure class="image is-64x64">
                                    <img src="{{request.user.picture}}" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>{{request.user.first_name}}</strong> <small>@{{request.user.username}}</small> <small>${new Date()}</small>
                                        <br>
                                        ${commentContent.value}
                                    </p>
                                </div>
                            </div>`;
        document.getElementById("comments").appendChild(commentMedia);
        document.getElementById("comment-count").innerText = parseInt(document.getElementById("comment-count").innerText) + 1;
        commentContent.value = "";
    }

    document.getElementById("bt_like").onclick = () => {
        fetch('/api/post/like/{{post.id}}',{
            'method':'POST'
        });
        document.getElementById("like-count").innerText = parseInt(document.getElementById("like-count").innerText)+1
    }

    document.getElementById("bt_dislike").onclick = () => {
        fetch('/api/post/dislike/{{post.id}}',{
            'method':'POST'
        });
        document.getElementById("dislike-count").innerText = parseInt(document.getElementById("dislike-count").innerText)+1
    }

</script>
{% endif %}
{% endblock content %}