<script>
    function follow(){
        fetch('/api/follow/{{user.id}}',{
            'method':'POST'
        });
    }
    function unfollow(){
        fetch('/api/unfollow/{{user.id}}',{
            'method':'POST'
        });   
    }
</script>

{% if not is_me %}
<button onclick="follow()">仰慕</button>
<button onclick="unfollow()">不仰慕</button>
{% endif %}
<h2>{{following}}</h2>
<h2>{{follower}}</h2>
<h2>{{fs_}}</h2>

{% extends 'base.html' %}

{% block header %}
<title>{{user.username}} | Tacabro</title>
<style>
    .container.context {
        margin-top: 3em !important;
        margin-bottom: 3em !important;
    }

    img.avatar {
        width: 6em;
        margin: 1em;
    }
</style>
{% endblock header %}
{% block content %}
<section class="hero is-primary has-text-centered is-bold">
    <div class="hero-body">
        <div class="container">
            <img class="avatar" src="https://e-kitaplar.net/assets/images/profil.png">
            <h1 class="title">
                {{ user.first_name }} {{ user.last_name }}
            </h1>
            <h2 class="subtitle">
                @{{ user.username }}
            </h2>
        </div>
    </div>
</section>

<div class="container context">
    <div class="columns">
        <div class="column is-one-third">

            <div class="box content">
                {{user.profile}}
                <hr>
                <!-- friends -->
                <span class="subtitle">羈絆</span>
                
                {% for friend in friendship%}
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-64x64" style="margin-right: 0.2em;margin-left: 1em">
                      <img src="http://i.imgur.com/2DuRHcm.png" alt="Placeholder image">
                    </figure>
                  </div>
                  <div class="media-content">
                    <a href="/user/{{friend.id}}">
                        <p class="title is-6">{{friend.first_name}} {{friend.last_name}}</p>
                    </a>
                    <p class="subtitle is-6">@{{friend.username}}</p>
                  </div>
                  <div class="media-right">
                        {% if friend.strength > 200 %}
                            <span class="tag is-warning media-ri">點頭之交</span>
                        {% elif friend.strength > 150 %}
                            <span class="tag is-primary media-ri">點頭之交</span>
                        {% elif friend.strength > 100 %}
                            <span class="tag is-success media-ri">點頭之交</span>
                        {% elif friend.strength > 10 %}
                            <span class="tag is-info media-ri">點頭之交</span>
                        {% elif friend.strength > -1 %}
                            <span class="tag is-light media-ri">點頭之交</span>
                        {% endif %}{{friend.strength}}
                    </span>
                    </div>
                </div>
                {% endfor %}



            </div>


        </div>
        <div class="column">
            {% for post in postlist %}
            <div class="box">
                <article class="media">
                    <div class="media-left">
                        <figure class="image is-64x64">
                            <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                        </figure>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>{{user.fistname}} {{user.last_name}}</strong> <small>@{{user.username}}</small> <small>{{post.publish_date}}</small>
                                <br>
                                {{post.content}}
                            </p>
                        </div>
                        <a class="button is-small is-fullwidth" href="/post/{{post.id}}">閱讀全文</a>
                    </div>
                </article>
            </div>
            {% endfor %}
        </div>

    </div>
</div>

{% include "footer.html" %}
{% endblock content %}