{% extends 'base.html' %}

{% block header %}
<title>{{user.username}} | Tacabro</title>
<style>
    .container.context {
        margin-top: 3em !important;
        margin-bottom: 3em !important;
    }

    .avatar.profile-avatar {
        position: relative;
        width: 8em;
        height: 8em;
        margin: 0 auto;
        margin-bottom: 1em;
        background-color: white;
        box-shadow: 0px 0px 5px black;
    }

    .preview {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width:100%;
        height:auto;
        background-image: url('https://dummyimage.com/256');
    }

    .avatar #edit-avatar {
        position: absolute;
        bottom: 0px;
        right: -1em;
    }

</style>
{% endblock header %}
{% block content %}
<section class="hero is-primary has-text-centered is-bold">
    <div class="hero-body">
        <div class="container">
            <div class="avatar profile-avatar" style="background-image: url('{% if not user.picture %}https://e-kitaplar.net/assets/images/profil.png{%else%}{{user.picture}}{% endif %}')">
                {% if is_me and request.user %}
                <button class="button is-rounded" id="edit-avatar">
                    <span class="icon">
                        <i class="fas fa-pen"></i>
                    </span>
                </button>
                {% endif %}
            </div>
            <h1 class="title">
                {{ user.first_name }}
            </h1>
            <h2 class="subtitle">
                @{{ user.username }} · $ {{user.tacobit}}
            </h2>
            {% if not is_me and request.user %}
            <a id="bt_follow" class="button is-success is-inverted" {%if is_followed %} style="display: none;"
                {%endif%} onclick="follow()">仰慕此人</a>
            <a id="bt_unfollow" class="button is-danger is-inverted" {%if not is_followed %} style="display: none;" {%
                endif %} onclick="unfollow()">與他絕交</a>
            {% endif %}
        </div>
    </div>
</section>

<div class="container context">
    <div class="columns">
        <div class="column is-one-third">

            <div class="box content">
                <span id="profile">{{user.profile}}</span>

                {% if is_me %}
                <textarea id="ta_profile" class="textarea" style="display: none;">{{user.profile}}</textarea>
                <span id="bt_edit" class="button tag is-light" onclick="edit()">編輯</span>
                <span id="bt_save" class="button tag is-link" style="display: none;" onclick="save()">儲存</span>
                <span id="bt_cancel" class="button tag is-light" style="display: none;" onclick="cancel()">取消</span>
                {% endif %}
                <hr>
                <!-- friends -->
                <span class="subtitle">羈絆</span>

                {% if not friendship %}
                <br>
                <br>
                <p>當兩人互相仰慕時，就會產生羈絆關係，可以透過互動提升親密度等級～</p>
                {% endif %}

                {% for friend in friendship%}
                <div class="media" style="margin-top: 30px;">
                    <div class="media-left">
                        <figure class="image is-64x64 avatar" style="background-image: url('{{friend.picture}}');margin-right: 0.2em;margin-left: 1em;"></figure>
                    </div>
                    <div class="media-content">
                        <a href="/user/{{friend.username}}">
                            <p class="title is-6">{{friend.first_name}}</p>
                        </a>
                        <p class="subtitle is-6">@{{friend.username}}</p>
                    </div>
                    <div class="media-right">
                        {% if friend.strength > 200 %}
                        <span class="tag is-warning media-ri">不鏽鋼交</span>
                        {% elif friend.strength > 150 %}
                        <span class="tag is-primary media-ri">鑽石之交</span>
                        {% elif friend.strength > 100 %}
                        <span class="tag is-success media-ri">情如兄弟</span>
                        {% elif friend.strength > 10 %}
                        <span class="tag is-info media-ri">點頭之交</span>
                        {% elif friend.strength > -1 %}
                        <span class="tag is-light media-ri">萍水相逢</span>
                        {% endif %}
                        </span>
                    </div>
                </div>
                {% endfor %}
            </div>


        </div>
        <div class="column">
            {% if not postlist %}
            <div class="box">
                <article class="media">
                    <div class="media-left">
                        <figure class="image is-64x64">
                            <img src="https://i.pinimg.com/originals/15/a8/21/15a821ea79990bb7edd4eb058a510862.png" alt="Image">
                        </figure>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <br>
                                還沒有貼文喔！去論壇逛逛八
                            </p>
                        </div>
                    </div>
                </article>
            </div>
            {% endif %}

            {% for post in postlist %}
            <div class="box">
                <article class="media">
                    <div class="media-left">
                        <figure class="image is-64x64 avatar" style="background-image: url('{{user.picture}}');margin-right: 0.2em;margin-left: 1em;"></figure>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>{{user.first_name}}</strong> <small>@{{user.username}}</small> <small>{{post.publish_date}}</small>
                                <br>
                            </p>
                            <p style="word-wrap: break-word;word-break: break-all;">
                                {{ post.content | no_markdown }}</p>
                        </div>
                        <a class="button is-small is-fullwidth" href="/post/{{post.id}}">閱讀全文</a>
                    </div>
                </article>
            </div>
            {% endfor %}

        </div>

    </div>
</div>

{% include "footer.html" %}


<div class="modal" id="avatar-modal">
    <div class="modal-background" id="avatar-modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <span class="subtitle">上傳大頭貼</span>
            <hr>
            <article class="message is-danger" id="avatar-alert" style="display: none">
                <div class="message-body">
                    選檔案啊幹低能兒
                </div>
            </article>
            <div class="columns">
                <div class="column">
                    <div class="file is-boxed is-large">
                        <label class="file-label">
                            <input id="avatar-file-input" onchange="readURL(this)" data-target-id="preview-img" type="file"
                                accept="image/*" data-max-size="5000" hidden>
                            <span class="file-cta">
                                <span class="file-icon">
                                    <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label">
                                    選擇你的圖片
                                </span>
                            </span>
                        </label>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <div class="card-image">
                            <figure id="preview-img" class="image preview is-1by1">
                            </figure>
                        </div>
                        <span class="card-header-title">圖片預覽</span>
                    </div>
                </div>
            </div>


            <button class="button is-primary is-fullwidth" id="upload-avatar">
                <span class="icon"><i class="fas fa-check"></i></span>
                <span>上傳</span>
            </button>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close" id="avatar-close-modal"></button>
</div>

<script>
    class Imgur {
        constructor(token, API_URL = "https://api.imgur.com/3/image") {
            this.token = token;
            this.API_URL = API_URL;
        }

        upload(selector) {
            var file = document.querySelector(selector).files;
            if (!file) throw "Incorrect file input element.";
            file = file[0];
            var formData = new FormData();
            formData.append("image", file);

            return fetch("https://api.imgur.com/3/image", {
                method: "POST",
                headers: new Headers({
                    Authorization: `Client-ID ${this.token}`,
                    Accept: 'application/json'
                }),
                mode: "cors",
                body: formData
            }).then(r => r.json())
        }
    }

    function follow() {
        fetch('/api/follow/{{user.id}}', {
            method: 'POST'
        });
        document.querySelector('#bt_follow').style.display = "none";
        document.querySelector('#bt_unfollow').style.display = "inline-flex";
    };
    function unfollow() {
        fetch('/api/unfollow/{{user.id}}', {
            method: 'POST'
        });
        document.querySelector('#bt_follow').style.display = "inline-flex";
        document.querySelector('#bt_unfollow').style.display = "none";
    };
    {% if is_me %}
    function readURL(input) {
        if (input.files && input.files[0]) {
            var file = input.files[0];
            var reader = new FileReader();
            reader.onload = function (e) {
                var img = document.getElementById(input.dataset.targetId);
                img.style.backgroundImage = `url(${e.target.result})`;
            }
            reader.readAsDataURL(file);
        }
    }

    document.getElementById("edit-avatar").onclick
        = document.getElementById("avatar-close-modal").onclick
        = document.getElementById("avatar-modal-background").onclick
        = () => document.getElementById("avatar-modal").classList.toggle("is-active")

    document.getElementById("upload-avatar").onclick = (e) => {
        e.preventDefault();
        var file = document.getElementById('avatar-file-input').files;
        if (!file) {
            document.getElementById("avatar-alert").style.display = "block";
            return;
        }
        e.target.classList.add("is-loading");
        file = file[0];
        new Imgur("ba74cde600e29e8")
            .upload("#avatar-file-input")
            .then(imgurData => {
                return fetch("/api/user/avatar", {
                    method: "POST",
                    body: JSON.stringify({
                        avatar: imgurData.data.link,
                    })
                })
            }).then(r => r.json())
			.then(r => {
				e.target.classList.remove("is-loading");
				if (r.success) {
					alert("ㄣㄣ成功了");
                    document.location.reload();
				} else {
					alert(r.message);
				}
			}).catch(r => alert("怪怪ㄉ"));
    }

    function edit() {
        document.querySelector('#ta_profile').style.display = "inline-flex";
        document.querySelector('#profile').style.display = "none";
        document.querySelector('#bt_edit').style.display = "none";
        document.querySelector('#bt_save').style.display = "inline-flex";
        document.querySelector('#bt_cancel').style.display = "inline-flex";
    };
    function save() {
        fetch('/api/user/profile', {
            method: 'POST',
            body: JSON.stringify({
                content: document.querySelector('#ta_profile').value
            })
        });
        document.querySelector('#profile').innerText = document.querySelector('#ta_profile').value;
        document.querySelector('#profile').style.display
            = document.querySelector('#bt_edit').style.display = "inline-flex";
        document.querySelector('#ta_profile').style.display
            = document.querySelector('#bt_save').style.display
            = document.querySelector('#bt_cancel').style.display = "none";
    }
    function cancel() {
        document.querySelector('#profile').style.display
            = document.querySelector('#bt_edit').style.display = "inline-flex";
        document.querySelector('#ta_profile').style.display
            = document.querySelector('#bt_save').style.display
            = document.querySelector('#bt_cancel').style.display = "none";
    }
    {% endif %}
</script>
{% endblock content %}