{% extends "base.html" %}

{% block header %}

<title>註冊 | 歡迎使用 Tacabro</title>
<style>
.account-form {
    display:flex;
    justify-content:center;
    align-items:center;
    height:100%;
}

.section {
    width: 90%;
}

.field {
    margin: 1em;
}
</style>

{% endblock %}


{% block content %}

<div class="columns">
    <div class="column hero is-medium is-primary is-bold" style="height: 100vh;">
        <div class="hero-body">

            <h1 class="title">
                加入 Tacabro
                <br>
                天天喵喵叫！
            </h1>
            <h2 class="subtitle">
                Welcome to Tacabro!
            </h2>

        </div>
    </div>
    <div class="column">
        <form class="account-form" method="POST">
            <section class="section">
                {% if message %}
                <article class="message is-danger">
                    <div class="message-body">
                        {{ message }}
                    </div>
                </article>
                {% endif %}

                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input" type="text" placeholder="暱稱" name="first_name">
                        <span class="icon is-small is-left">
                            <i class="fas fa-id-card"></i>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <p class="control has-icons-left has-icons-right">
                        <input class="input" type="text" placeholder="帳號" name="username">
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input" type="password" placeholder="密碼" name="password">
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <p class="control">
                        <button class="button is-success is-fullwidth">
                            註冊
                        </button>
                    </p>
                </div>
                <div class="field">
                    <p class="control">
                        <a href="/login" class="button is-primary is-outlined is-fullwidth">
                            返回登入
                        </a>
                    </p>
                </div>
            </section>
        </form>
    </div>
</div>

{% endblock %}